<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>{{ siteTitle }}{% if pageTitle %} | {{ pageTitle }}{% endif %}</title>
</head>
<body>

    <div class="container">
        <header>
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li {% if activePage is empty %}class="active"{% endif %}>
                        <a href="{{ baseUrl() }}">Accueil</a>
                    </li>
                    <li {% if activePage == 'projects' %}class="active"{% endif %}>
                        <a href="{{ urlFor('projects') }}" class="active">Projets</a>
                    </li>
                    <li {% if activePage == 'contact' %}class="active"{% endif %}>
                        <a href="{{ urlFor('contact') }}">Contact</a>
                    </li>
                </ul>
            </nav>
            <h1><a href="{{ baseUrl() }}">{{ siteTitle }}</a></h1>
        </header>

        {% block content %} {% endblock %}

        <footer>
            <p>Propulsé par Prolio</p>
        </footer>
    </div>
</body>
</html>