{% extends "_base.twig" %}
{% block content %}
    <h2>{{ project.name }}</h2>
    <img src="/images/projects/{{ project.image }}" alt="{{ project.name }}" style="height: 100px;">
    <ul>
        <li>Créé le {{ project.created_at|date("d/m/Y") }}</li>
        <li>Mis à jour : {{ project.updated_at|date("d/m/Y") }}</li>
        <li>
            Tags : {{ tags }}
        </li>
    </ul>
    <ul>
        {% for button in buttons %}
            <li>
                <a href="{{ button.url }}" class="btn btn-default">
                    {% if button.icon %}
                        <span class="glyphicon {{ button.icon}}" aria-hidden="true"></span>
                    {% endif %}
                    {{ button.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="desc">
        {{ project.description }}
    </div>
{% endblock %}
