{% set activePage = "projects" %}
{% set pageTitle = project.name %}

{% extends "_base.twig" %}
{% block content %}
    <div class="page-header">
        <h1>
            {{ project.name }}
            {% if project.version %}
                <small>{{ project.version }}</small>
            {% endif %}
        </h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="/images/projects/{{ project.image }}" alt="{{ project.name }}" class="project-image img-responsive">
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        {% if project.created_at %}
                            <li>Créé le {{ project.created_at }}</li>
                        {% endif %}
                        {% if project.updated_at %}
                            <li>Mis à jour le {{ project.updated_at }}</li>
                        {% endif %}
                        {% if project.version %}
                            <li>Version {{ project.version }}</li>
                        {% endif %}
                        <li>
                            Tags : {{ tags }}
                        </li>
                    </ul>

                     <ul class="project-buttons">
                        {% for button in buttons %}
                            <li>
                                <a href="{{ button.url }}" class="btn btn-info">
                                    {% if button.icon %}
                                        <span class="glyphicon {{ button.icon}}" aria-hidden="true"></span>
                                    {% endif %}
                                    {{ button.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="project-desc">
        {{ project.description | raw }}
    </div>

    {% if images is not empty %}
        <div class="row">
            {% for image in images %}
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/images/projects/{{ image.filename }}" alt="{{ image.name }}">
                        <div class="caption">
                            {{ image.name }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <hr>
    <a href="{{ urlFor('projects') }}">&laquo; retour à la liste</a>
{% endblock %}
