{% extends "backend/_base.twig" %}
{% block content %}
    <div class="page-header">
        {% if edit %}
            <h1>Modifier le projet</h1>
        {% else %}
            <h1>Ajouter le projet</h1>
        {% endif %}
    </div>

    <form action="{{ urlFor('project_process', {"id": project.id }) }}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nom *</label>
                    <input type="text" class="form-control" name="name" id="name" value="{{ post ? post.name : project.name }}" required>
                </div>

                <div class="form-group">
                    <label for="version">Version</label>
                    <input type="text" class="form-control" name="version" id="version" value="{{ post ? post.version : project.version }}">
                </div>
            </div>

            <div class="col-md-6">
                 <div class="form-group">
                    <label for="created_at">Date de création</label>
                    <div class="input-group date">
                        <input type='text' class="form-control" name="created_at" id="created_at" value="{{ post ? post.created_at : project.created_at }}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="updated_at">Date de mise à jour</label>
                    <div class="input-group date">
                        <input type='text' class="form-control" name="updated_at" id="updated_at" value="{{ post ? post.updated_at : project.updated_at }}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="extract">Résumé *</label>
            <textarea class="form-control" name="extract" id="extract" rows="3" required>{{ post ? post.extract : project.extract }}</textarea>
        </div>

        <div class="form-group">
            <label for="description">Description *</label>
            <span class="help-block">Vous pouvez utiliser du HTML.</span>
            <textarea class="form-control" name="description" id="description" rows="15" required>{{ post ? post.description : project.description }}</textarea>
        </div>

        <div class="form-group">
            <label for="image">Image *</label>
            <input type="file" name="image" id="image" height="100">
            {% if project.image %}
                <img src="/images/projects/{{ project.image }}" alt="">
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>
                    Tags
                    <button id="tag-show-modal" type="button" class="btn btn-default btn-sm">Ajouter un tag</button>
                </h3>

                <div class="row" id="tag-list">
                    {% for tag in tags %}
                        <div class="col-md-6">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tags[]" value="{{ tag.id }}" {% if tag.id in project.tags %}checked{% endif %}>
                                {{ tag.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <div id="tag-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Ajout d'un tag</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="tag">Tag *</label>
                                    <input type="text" class="form-control required" name="tag" id="tag" value="{{ post ? post.tag : '' }}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-primary" id="tag-add">Ajouter</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>

            <div class="col-md-6">
                <h3>Compatibilité</h3>
                <h4>PC</h4>
                <div class="row">
                    {% for compatibility in compatibilities.PC %}
                        <div class="col-md-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="compatibilities[]" value="{{ compatibility.id }}" {% if compatibility.id in project.compatibilities %}checked{% endif %}>
                                {{ compatibility.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <h4>Téléphone</h4>
                <div class="row">
                    {% for compatibility in compatibilities.PHONE %}
                        <div class="col-md-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="compatibilities[]" value="{{ compatibility.id }}" {% if compatibility.id in project.compatibilities %}checked{% endif %}>
                                {{ compatibility.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <h4>Navigateur</h4>
                <div class="row">
                    {% for compatibility in compatibilities.BROWSER %}
                        <div class="col-md-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="compatibilities[]" value="{{ compatibility.id }}" {% if compatibility.id in project.compatibilities %}checked{% endif %}>
                                {{ compatibility.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-12">
                <h3>
                    Boutons
                    <button id="button-show-modal" type="button" class="btn btn-default btn-sm">Ajouter un bouton</button>
                </h3>

                <table id="button-list" class="table table-striped">
                    {% for button in project.buttons %}
                        <tr data-index="{{ loop.index }}">
                            <td>
                                {% if button.icon %}<i class="{{ button.icon }}"></i>{% endif %}
                                {{ button.name }}
                            </td>
                            <td>{{ button.url }}</td>
                            <td>
                                <input type="hidden" class="button-name" name="buttons[{{ loop.index }}][name]" value="{{ button.name }}">
                                <input type="hidden" class="button-icon" name="buttons[{{ loop.index }}][icon]" value="{{ button.icon }}">
                                <input type="hidden" class="button-url" name="buttons[{{ loop.index }}][url]" value="{{ button.url }}">
                                <input type="hidden" class="button-blank" name="buttons[{{ loop.index }}][blank]" value="{{ button.blank|number_format }}">
                                <a href="#" class="button-edit">Modifier</a> -
                                <a href="#" class="button-delete">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <div id="button-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Ajout d'un bouton</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="button_name">Intitulé du bouton *</label>
                                    <input type="text" class="form-control required" name="button_name" id="button_name">
                                </div>
                                <div class="form-group">
                                    <label for="button_icon">Icône</label>
                                    <span class="help-block">Classe CSS de <a href="http://getbootstrap.com/components/#glyphicons" target="_blank">Bootstrap</a>. Exemple : glyphicon glyphicon-download</span>
                                    <input type="text" class="form-control" name="button_icon" id="button_icon">
                                </div>
                                <div class="form-group">
                                    <label for="button_url">Url *</label>
                                    <input type="text" class="form-control required" name="button_url" id="button_url" placeholder="http://monprojet.com">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="button_blank" id="button_blank">
                                        Nouvelle page
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-primary" id="button-add">Ajouter</button>
                                <button type="button" class="btn btn-primary" id="button-edit">Modifier</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>

        <div class="form-actions">
            {% if edit %}
                <input type="submit" class="btn btn-primary" value="Modifier le projet" >
            {% else %}
                <input type="submit" class="btn btn-primary" value="Ajouter le projet" >
            {% endif %}

            <a href="{{ urlFor('project_list') }}" class="btn btn-default">Annuler</a>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/locales/bootstrap-datepicker.fr.min.js"></script>
    <script>
    $('.input-group.date').datepicker({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        language: "fr",
        autoclose: true
    });

    $(function () {
        var currentIndex = 0;

        // Click on Add button
        $('#button-show-modal').click(function (e) {
            e.preventDefault();
            showButtonModal(false);
        });

        // Add a button
        $('#button-add').click(function (e) {
            e.preventDefault();

            // Check required input
            if (!isButtonFormValid()) return false;

            $('#button-modal').modal('hide');

            var index = getNextIndex();

            $('#button-list').append(buttonLine(index));

            emptyButtonInputs();
        });

        // Modifiy a button
        $('#button-edit').click(function (e) {
            e.preventDefault();

            // Check required input
            if (!isButtonFormValid()) return false;

            $('#button-modal').modal('hide');

            $('#button-list tr[data-index="' + currentIndex + '"]').replaceWith(buttonLine(currentIndex));

            emptyButtonInputs();
        });

        // Show modal edition button
        $(document).on("click", ".button-edit", function(e) {
            e.preventDefault();
            var $tr = $(this).closest('tr');
            $('#button_name').val($tr.find('.button-name').val());
            $('#button_icon').val($tr.find('.button-icon').val());
            $('#button_url').val($tr.find('.button-url').val());
            if (parseInt($tr.find('.button-blank').val()))
                $('#button_blank').prop('checked', true);

            currentIndex = $tr.data('index');

            showButtonModal(true);
        });

        $(document).on("click", ".button-delete", function(e) {
            e.preventDefault();
            $(this).closest('tr').remove();
        });

        $('#tag-show-modal').click(function (e) {
            e.preventDefault();
            showTagModal();
        });

        $('#tag-add').click(function (e) {
            e.preventDefault();

            // Check required input
            var error = false;
            $('#tag-modal .required').each(function () {
                if ($(this).val() == '') {
                    $(this).closest('.form-group').addClass('has-error');
                    error = true;
                }
            });
            if (error) return false;

            $('#tag-modal').modal('hide');

            var tagName = $('#tag').val();
            $('#tag-list').append(
                '<div class="col-md-6">' +
                    '<label class="checkbox-inline">' +
                        '<input type="checkbox" name="tags[]" value="' + tagName + '" checked>' +
                        tagName +
                    '</label>' +
                '</div>'
            );

        });
    });

    function getNextIndex() {
        var maxIndex = 1;
        $('#button-list tr').each(function () {
            var index = parseInt($(this).data('index'));
            if (index > maxIndex) maxIndex = index;
        });
        return maxIndex + 1;
    }

    function emptyButtonInputs() {
        $('#button-modal .form-control').val('');
        $('#button-modal input[type="checkbox"]').removeProp('checked');
    }

    function showButtonModal(edit) {
        if (edit) {
            $('#button-add').hide();
            $('#button-edit').show();
        } else {
            $('#button-add').show();
            $('#button-edit').hide();
        }

        $('#button-modal')
            .modal('show')
            .on('shown.bs.modal', function () {
                $('#button_name').focus();
            })
            .on('hidden.bs.modal', function () {
                emptyButtonInputs();
            });
    }

    function showTagModal() {
        $('#tag-modal')
            .modal('show')
            .on('shown.bs.modal', function () {
                $('#tag').focus();
            })
            .on('hidden.bs.modal', function () {
                $('#tag').val('');
            });
    }

    function isButtonFormValid() {
        var isValid = true;
        $('#button-modal .required').each(function () {
            if ($(this).val() == '') {
                $(this).closest('.form-group').addClass('has-error');
                isValid = false;
            }
        });
        return isValid;
    }

    function buttonLine(index) {
        return '<tr data-index="' + index + '">' +
            '<td><i class="glyphicon glyphicon-' + $('#button_icon').val() + '"></i> ' +
            $('#button_name').val() + '</td>' +
            '<td>' + $('#button_url').val() + '</td>' +
            '<td>' +
                '<input type="hidden" class="button-name" name="buttons[' + index + '][name]" value="' + $('#button_name').val() + '">' +
                '<input type="hidden" class="button-icon" name="buttons[' + index + '][icon]" value="' + $('#button_icon').val() + '">' +
                '<input type="hidden" class="button-url" name="buttons[' + index + '][url]" value="' + $('#button_url').val() + '">' +
                '<input type="hidden" class="button-blank" name="buttons[' + index + '][blank]" value="' + ($('#button_blank').is(':checked') ? 1 : 0) + '">' +
                '<a href="#" class="button-edit">Modifier</a> - ' +
                '<a href="#" class="button-delete">Supprimer</a>' +
            '</td>' +
        '</tr>';
    }
    </script>
{% endblock %}
